*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html {
    width: 100%;
    height: 100%;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
}

button {
    font-family: inherit;
    cursor: pointer;
    display: block;
}

input, button {
    outline: none;
    border: none;
    background-color: transparent;
}
