:root {
--main-color: #2F281E;
--main-bg-color: #fff;
--accent-color: #FF9900;
--border-accent-color: #BCD0E5;
--feathers-icon-bg-purple: #7752BE;
--feathers-icon-bg-yellow: #FAB005;
--feathers-icon-bg-red: #F03E3D;
--feathers-icon-bg-blue: #4DADF7;
}